<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <div ng-show="!$root.name" class="list list-inset">
      <label class="item item-input item-input-full">
        <input type="text" placeholder="Say your name" ng-model="vm.name">
      </label>
      <button class="button button-full button-positive" 
        ng-click="vm.join(vm.name)"
        ng-show="vm.name.length > 4"
        >
        Join
      </button>
      <span>{{vm.message}}</span>
    </div>
    <h3 ng-show="$root.name" ng-click="vm.go()">
      hi {{$root.name}} touch there and go to chat
    </h3>
  </ion-content>
</ion-view>
